<h3 class="centered">
        <small style="text-align: center; margin: auto; display: block;">&#9400;<time
                        datetime="2023-04-19">2023 - All rights reserved.</time></small>
</h3>