<h3 class="centered">
    <small style="text-align: center; margin: auto; display: block;">&#9400;<time datetime="2023-04-19"> 2023 - All rights reserved</time></small>
</h3>

<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
