

<% if(locals.user) { %>
        <h5 class="centered">Welcome, <%- locals.user %></h5>
<% } %>    

<div id="title-bar">
    <a href="../index">
        <h1>DTPlan</h1>
        <h2>Personalized diet and workout plans</h2>
    </a>

    <% if (!locals.user) { %>
        <a id="login-button" href="../login">Login</a>
        <a id="register-button" href="../register">Register</a>
    <% } %>
</div>

<nav>
    <% if(!locals.user) { %>
    <% } else { %>        
    <a href="../diet-plans">My Diet Plans</a>        
    <a href="../workout-plans">My Workout Plans</a>        
    <a href="../create-plan">Create plan</a>
    <a href="../logout">Logout</a> 
    <% } %>

</nav>