<h1 class="centered">DTPlan</h1>
<h4 class="centered" style="color: gray;">Create your workout & diet plan</h4>
<nav>
        <a href="../index">Home</a>
        <% if(!locals.user) { %>
        <a href="../login">Login</a>
        <a href="../register">Register</a>  
        <% } else { %>        
        <a href="../diet-plans">My Diet Plans</a>        
        <a href="../workout-plans">My Workout Plans</a>        
        <a href="../logout">Logout</a> 
        <% } %>

</nav>

<% if(locals.user) { %>
        <h5 class="centered">Welcome, <%- locals.user %></h5>
    <% } else { %>
        <h3 class="centered">Please login or register to create your first plan!</h3>
<% } %>    

