<div id="title-bar">
    <a href="../index">
        <h1>DTPlan</h1>
        <h4>Personalized diet and workout plans</h4>
    </a>

    <% if (!locals.user) { %>
        <a id="login-button" href="../login">Login</a>
        <a id="register-button" href="../register">Register</a>
    <% } else { %>
        <a href="../logout"><p id="welcome-message">Welcome, <%- locals.user %></p></a>
        <img id="profile-picture" src="../../assets/icons/profile_picture_placeholder.svg">
    <% } %>
</div>

<% if(locals.user) { %>
    <div>
        <nav id="dashboard-navbar">
            <ul>
                <li><a href="../index"><img src="../../assets/icons/dashboard_icon.svg">Dashboard</a></li>
                <li><a href="../index"><img src="../../assets/icons/details_icon.svg">Details</a></li>
                <li><a href="../index"><img src="../../assets/icons/goals_icon.svg">Goals</a></li>
                <li><a href="../diet-plans"><img src="../../assets/icons/diet_plans_icon.svg">Diet Plans</a></li>
                <li><a href="../workout-plans"><img src="../../assets/icons/workout_plans_icon.svg">Workout Plans</a></li>
                <!-- <li><a href="../create-plan">Create plan</a></li> -->
                <!-- <li><a href="../logout">Logout</a></li> -->
            </ul>
        </nav>
    </div>
<% } %>