        <title>DTPlan</title>

        <meta charset="UTF-8">
        <meta name="keywords" content="exercitii fizice, dieta sanatoasa, stil de viata sanatos, plan de exercitii, plan de dieta">
        <meta name="description" content="Schimba-ti stilul de viata intr-unul mai sanatos intr-un mod usor si eficient cu planuri personalizate pentru tine!">
        <meta name="author" content="DTPlan Team">

        <link rel="stylesheet" href="./assets/css/style.css" type="text/css">

        <!-- <script src="./assets/js/script.js"></script> -->