<!DOCTYPE html>

<html>
    <head>
        <%- include("../page_fragments/head.ejs") %>
    </head>

    <body>
        <main>
            <!-- <h3 class="centered">Register</h3> -->
            <div class="centered">
                <h1><a href="../index" style="text-decoration: none;">DTPlan</a></h1>
                <h5 class="centered" style="margin-top: 8px; color: #777777;">Welcome, <%- locals.user %>! Complete the registration process now.</h5>
                <form method="post" action="/complete-register">
                    <label>
                        <!-- <h5 class="centered">Inaltime (in cm)</h5> -->
                        <input type="number" name="height" placeholder="Height (in cm)" required/> <!--value="170"-->
                    </label>
                    <br/>
                    <label>
                        <!-- <h5 class="centered">Greutate (in Kg)</h5> -->
                        <input type="number" name="weight" placeholder="Weight (in kg)" required/> <!--value="65" -->
                    </label>
                    <br/> 
                    <label>
                        <!-- <br/> -->
                        <!-- <label for="gender"> <h5 class="centered">Gender:</h5> </label> -->
                        <select name="gender">
                            <option value="" disabled selected>Gender</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                    </label>
                    <br/>
                    <!-- <br/> -->
                    <label>
                        <!-- <h5 class="centered">Date of birth:</h5> -->
                        <input type="text" name="birthday" placeholder="Date of Birth" onfocus="(this.type='date')" onblur="(this.type='text')"> <!--value="2002-10-05"-->
                        <label>
                    <br/>
                    <button type="submit" value="submit">Update profile</button>
                </form>
            </div>
        </main>

        <footer>
            <%- include("../page_fragments/footer.ejs") %>
        </footer>
    </body>
</html>