<!DOCTYPE html>

<html>
    <head>
        <%- include("../page_fragments/head.ejs") %>
    </head>

    <body>
        <header>
            <%- include("../page_fragments/header.ejs") %>
        </header>

        <main>
            <div class="centered">
                <h3 class="centered">Select plan type:</h6>
                <select id="plan-type" name="plan-type" form="create-plan-form">
                    <option value="diet">Diet plan</option>
                    <option value="workout">Workout plan</option>
                </select>
                <form method="post" id="create-plan-form" action="/create-meal-plan">
                    <label>
                        Height (in cm)
                        <br/>
                        <input type="number" name="height" value="170" required/>
                    </label>
                    <br/>
                    <label>
                        Weight (in kg)
                        <br/>
                        <input type="number" name="weight" value="65" required/>
                    </label>
                    <br/> 
                    <label>
                        Age
                        <br/>
                        <input type="number" name="weight" value="20" required/>
                    </label>
                    <br/> 
                    <h3 class="centered">What is your daily routine?</h6>
                        <select id="routine" name="routine" form="create-plan-form">
                            <option value="sedentary">I am a sedentary person and I rarely go for walks</option>
                            <option value="">Workout plan</option>
                        </select>
                    </br>
                    <input type="submit" value="Trimite">
                </form>
            </div>
        </main>

        <footer>
            <%- include("../page_fragments/footer.ejs") %>
        </footer>
    </body>
</html>