<!DOCTYPE html>

<html>
    <head>
        <%- include("../page_fragments/head.ejs") %>
        <script src="/assets/js/script.js"></script>
    </head>

    <body>
        <header>
            <%- include("../page_fragments/header.ejs") %>
        </header>

        <main>
            <div class="container">
                <button id="left-plan">&#8249;</button>
                <div class="container-plans">

                </div>
                <button id="right-plan">&#8250;</button>
            </div>
        </main>

        <footer>
            <%- include("../page_fragments/footer.ejs") %>
        </footer>
    </body>

    <script>


$(document).ready(async function () {
        const retrieve_bal = await fetchPlans("http://localhost:8888/fetch-dplans");
    });

    $('.container-plans').on('scroll mousewheel touchmove', function(e) {
      e.preventDefault();
      e.stopPropagation();
      return false;
});

    const buttonleft = document.getElementById("left-plan");
    const buttonright = document.getElementById("right-plan");

    buttonleft.addEventListener("click", function(){
        container = document.getElementsByClassName("container-plans")[0];
        scrl = container.scrollLeft;
        console.log(scrl);
        container.scrollBy({
        left: -260,
        behavior: "smooth",
});
    });

    buttonright.addEventListener("click", function(){
        container = document.getElementsByClassName("container-plans")[0];
        scrl = container.scrollLeft;
        console.log(scrl);
        container.scrollBy({
        left: 260,
        behavior: "smooth",
});
    });
    </script>
</html>