<!DOCTYPE html>

<html>
    <head>
        <%- include("../page_fragments/head.ejs") %>
    </head>

    <body>
        <header>
            <%- include("../page_fragments/header.ejs") %>
        </header>

        <main>
            <div style="margin: 30px; margin-top: 24px;">
                <h3 class="centered">Oops... Page not found!</h3>
                <h4 class="centered" style="padding: 10px;"><a href="../index">Back to home page</a>.</h4>
            </div>
        </main>

        <footer>
            <%- include("../page_fragments/footer.ejs") %>
        </footer>
    </body>
</html>