<!DOCTYPE html>

<html>
    <head>
        <%- include("../page_fragments/head.ejs") %>
    </head>

    <body>
        <header>
            <%- include("../page_fragments/header.ejs") %>
        </header>

        <main>
            <div class="container-index">
            <% if(!locals.user){ %>
                <div class="banner">
                    <h1 class="centered" style="font-family: rubik; font-weight: bold; margin: 40px; font-size: 3em;"><span style="color:blue;">Nothing</span> holds you from being the best.</h3>
                    <h4 class="centered" style="font-family: rubik; font-weight: bold; color: gray; font-size: 1.2em;">Maintain a healthy routine while enjoying your life to the fullest. Jump in our <span style="color: black;">Diet & Workout Plan Creator</span> that provides everything for you to get back in shape.</h4>
                    <a href="/register" class="plan-button-simple">Join & Create your first plan!</a>   
                    <a href="/login" class="login-add">Already a member? Sign in</a> 
                </div>
                <img src="/assets/images/dashb.png">
            
            <% } else { %>
                <div class="banner-login">
                    <h1 class="centered" style="font-family: rubik; font-weight: bold; margin: 40px; font-size: 3em;">Glad you are here. <br><span style="color: blue;">Let's get started.</span></h3>
                    <a href="/diet-plans" class="plan-button-banner">Your diet plans</a>
                    <a href="/workout-plans" class="plan-button-banner">Your workout plans</a>
                    <a href="/create-plan" class="plan-button-banner">Create another plan</a>
                    <img src="/assets/images/dashb-login.png" style="display: block; margin: auto; width: 150px; height: 150px;">
                </div>
            <% } %>
        </div>
        </main>

        <footer>
            <%- include("../page_fragments/footer.ejs") %>
        </footer>
    </body>
</html>