<!DOCTYPE html>

<html>
    <head>
        <%- include("../page_fragments/head.ejs") %>
    </head>

    <body>
        <header>
            <%- include("../page_fragments/header.ejs") %>
        </header>

        <main>
            <% if(locals.user){ %>
            <h3 class="centered"> Esti deja logat!</h3>
            <% } else { %>
            <h3 class="centered">Login</h3>
            <div class="centered">
                <form method="post" action="/login">
                    <label>
                        Username
                        <br/>
                        <input type="text" name="username" required/>
                    </label>
                    <br/>
                    <label>
                        Parola
                        <br/>
                        <input type="password" name="password" required/>
                    </label>
                    <br/> 
                    <input type="submit" value="Trimite">
                </form>
            </div>

            <% } %>
        </main>

        <footer>
            <%- include("../page_fragments/footer.ejs") %>
        </footer>
    </body>
</html>