<!DOCTYPE html>

<html>
    <head>
        <%- include("../page_fragments/head.ejs") %>
    </head>

    <body>
        <main>
            <!-- <h3 class="centered">Register</h3> -->
            <div class="centered">
                <h1><a href="../index" style="text-decoration: none;">DTPlan</a></h1>
                <form method="post" action="/register">
                    <label>
                        <!-- <h5 class="centered">Username</h5> -->
                        <!-- <i class="fa-solid fa-user"></i> -->
                        <input type="text" name="username" placeholder="Username" required/>
                    </label>
                    <br/>
                    <label>
                        <!-- <h5 class="centered">Email</h5> -->
                        <!-- <i class="fa-solid fa-envelope"></i> -->
                        <input type="text" name="email" placeholder="E-Mail" required/>
                    </label>
                    <br/> 
                    <label>
                        <!-- <h5 class="centered">Password</h5> -->
                        <!-- <i class="fa-sharp fa-solid fa-lock"></i> -->
                        <input type="password" name="password" placeholder="Password" required/>
                    </label>
                    <br/>
                    <button type="submit" value="submit">Register</button>
                </form>
                <!-- <img src="/assets/images/dashb-login.png" style="display: block; margin: auto; width: 150px; height: 150px;"> -->
            </div>
            <h5 class="centered">Already have an account? <a href="../login">Log in</a>.</h5>
        </main>

        <footer>
            <%- include("../page_fragments/footer.ejs") %>
        </footer>
    </body>
</html>