<!DOCTYPE html>

<html>
    <head>
        <%- include("../page_fragments/head.ejs") %>
    </head>

    <body>
        <header>
            <%- include("../page_fragments/header.ejs") %>
        </header>

        <main>
            <h3 class="centered">Register</h3>
            <div class="centered">
                <form method="post" action="/register">
                    <label>
                        Username
                        <br/>
                        <input type="text" name="username" required/>
                    </label>
                    <br/>
                    <label>
                        Email
                        <br/>
                        <input type="text" name="email" required/>
                    </label>
                    <br/> 
                    <label>
                        Parola
                        <br/>
                        <input type="password" name="password" required/>
                    </label>
                    <br/>
                    <input type="submit" value="Trimite">
                </form>
            </div>
        </main>

        <footer>
            <%- include("../page_fragments/footer.ejs") %>
        </footer>
    </body>
</html>