<!DOCTYPE html>

<html>

<head>
    <%- include("../page_fragments/head.ejs") %>
    <script src="/assets/js/script.js"></script>
</head>

<body>
    <header>
        <%- include("../page_fragments/header.ejs") %>
    </header>

    <main>
        <div class="container">
            <div class = "swiper-wrapper">
            
            </div>
            <div class = "swiper-pagination"></div>
            <div class = "swiper-button-prev"></div>
            <div class = "swiper-button-next"></div>
        </div>
    </main>

    <footer>
        <%- include("../page_fragments/footer.ejs") %>
    </footer>
</body>

<script>
    $(document).ready(async function () {
        const retrieve_bal = await fetchPlans("http://localhost:8888/fetch-wplans");
    });
</script>

</html>