<!DOCTYPE html>

<html>
    <head>
        <%- include("../page_fragments/head.ejs") %>
    </head>

    <body>
        <header>
            <%- include("../page_fragments/header.ejs") %>
        </header>

        <main>
            <h3 id="counter"></h3>
        </main>

        <footer>
            <%- include("../page_fragments/footer.ejs") %>
        </footer>
    </body>

    <script src="/assets/js/script.js"></script>
</html>