@font-face{
    font-family: rubik;
    src: url(../fonts/Rubik-Regular.ttf);
}

@font-face{
    font-family: conthrax;
    src: url(../fonts/conthrax-sb.otf);
}

body{
    font-family: rubik;
    position: relative;
    margin: 0;
}

header{
    padding-top: 15px;
    padding-bottom: 15px;
}

footer {
    width: 100%;
    height: 60px;
    display: flex; /* create a flexbox layout */
    align-items: center; /* center the text vertically */
    color: blue;
  }


h1 {
    font-family: conthrax;
}

.centered{
    text-align: center;
    margin: auto;
}

nav
{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

nav > a{
    padding: 10px;
    color: blue;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s all linear;
}

nav > a:hover{
    transform: scale(1.3);
    color: indigo;
}

form{
    padding: 10px;
}

form > input[type="submit"], form button[type="submit"]{
    color: blue;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid black;
    outline: 0;
    padding: 10px;
    margin-top: 10px;
    border-radius: 6px;
    transition: all 0.15s;
}

form button[type="submit"]:hover{
    background-color: blue;
    color: white;
}

/* plan data on view plans */

.container
{
    display: flex;
    margin: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.container-plans{
    display: flex;
    align-items: center;
    width: 780px;
    height: 400px;
    overflow: scroll;
    justify-content: center;
}

.container-plans::-webkit-scrollbar{
    display: none;
}

.plan-data
{
    display: flex;
    justify-content: center;
    margin: 10px;
    align-items: center;
    text-align: center;
    flex-direction: column;
    border-radius: 24px;
    color: white;
    min-width: 200px;
    width: 200px;
    height: 300px;
    padding: 20px;
    background-image: url(../images/plan-muscle.jpg);
    background-size: 100% 100%;
    transition: all 0.2s;
}

.plan-data:hover{
    box-shadow: 4px 4px 4px 0 gray; 
}

.plan-desc{
    display: block;
    flex-grow: 6;
}

#left-plan, #right-plan{
    display: none;
    cursor: pointer;
    padding: 10px;
    text-decoration: none;
    background: none;
    outline: none;
    border: none;
    font-size: 100px;
}

.plan-button
{
    cursor: pointer;
    padding: 10px;
    background-color: blue;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    text-decoration: none;
}

.plan-button:hover{
    color: black;
    background-color: white;
    font-weight: bold;
}

.diet-data
{
    display: flex;
    margin: auto;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
    text-align: center;
    color: white;
    width: 150px;
    height: 100px;
    padding: 5px;
    background-image: url(../images/data-diet.jpg);
    background-size: 100% 100%;
    transition: all 0.2s;
}

.container .diet-data:nth-child(3n+1)
{
    background-image: url(../images/data-diet2.jpg)
}

.container .diet-data:nth-child(3n+2)
{
    background-image: url(../images/data-diet3.jpg)
}

.diet-data:hover{
    box-shadow: 4px 4px 4px 0 gray; 
    transform: scale(1.05);
}

.workout-data
{
    display: flex;
    margin: auto;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
    text-align: center;
    color: white;
    width: 250px;
    height: 150px;
    padding: 5px;
    background-image: url(../images/plan-muscle3.jpg);
    background-size: 100% 100%;
    transition: all 0.2s;
}

.container .workout-data:nth-child(3n+1)
{
    background-image: url(../images/plan-muscle4.jpg)
}

.container .workout-data:nth-child(3n+2)
{
    background-image: url(../images/plan-muscle5.jpg)
}

.workout-data:hover{
    box-shadow: 4px 4px 4px 0 gray; 
    transform: scale(1.05);
}

.diet-desc{
    display: block;
    flex-grow: 6;
}

button.plan-submit-button[value="0"]{
    color: red;
}

button.plan-submit-button[value="1"]{
    color: green;
}

.container-index{
    display: flex;
    align-items: center;
    position: relative;
    margin: auto;
    padding: 20px;
    width: 80%;
    min-height: 500px;
}

.banner{
    display: block;
    margin: auto;
    width: 45%;
    height: 80%;
}

.banner .login-add{
    display: block;
    text-align: center;
    font-family: rubik;
    color: black;
    font-weight: bold;
}

.banner-login{
    display: block;
    margin: auto;
    width: 45%;
    height: 80%;
}

.plan-button-banner
{
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    color: white;
    border: 1px solid black;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
}

.plan-button-simple{
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    color: white;
    border: 1px solid black;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    background-color: blue;
}

.plan-button-banner:nth-of-type(1){
    background-image: url(../images/data-diet2.jpg);
}

.plan-button-banner:nth-of-type(2){
    background-image: url(../images/plan-muscle5.jpg);
}

.plan-button-banner:nth-of-type(3){
    background-color: blue;
}

.plan-button-banner:hover, .plan-button-simple:hover{
    color: black;
    background-image: none;
    background-color: white;
    font-weight: bold;
}

.banner img{
    float: right;
    width: 50%;
    height: 500px;
}
