@font-face {
    font-family: rubik;
    src: url(../fonts/Rubik-Regular.ttf);
}

@font-face {
    font-family: rubik-variable;
    src: url(../fonts/Rubik-VariableFont_wght.ttf);
}

body {
    position: relative;
    margin: 0;

    min-height: 100vh;

    overflow-x: hidden;

    font-family: rubik-variable;
    color: #000000;
}

main {
    /* margin: 30px; */
    padding-bottom: 60px;
}

footer {
    width: 100%;
    height: 60px;

    display: flex; /* create a flexbox layout */
    align-items: center; /* center the text vertically */

    position: absolute;
    bottom: 0;
    
    color: #777777;
    text-align: center;
}

h1 {
    margin: 0;
    margin-top: 30px;

    font-weight: 700;
    font-size: 48px;
}

h2 {
    margin: 0;

    font-weight: 300;
    font-size: 36px;
}

h3 {
    margin: 0;

    font-weight: 700;
    font-size: 32px;
}

h4 {
    margin: 0;

    font-weight: 300;
    font-size: 24px;
}

h5 {
    margin: 0;

    font-weight: 400;
    font-size: 20px;
}

a {
    color: #000000;
}

#dashboard-navbar { 
    /* position: absolute; */
    width: auto;
    height: 51px;
    /* left: 30px;
    right: 30px;
    top: 144px; */

    margin-top: 24px;
    margin-left: 30px;
    margin-right: 30px;

    background: #EEEEEE;
    border-radius: 8px;
}

#dashboard-navbar ul {
    display: flex;
    padding: 0;
    margin: 0;
}

#dashboard-navbar li {
    width: 100%;
    height: 51px;

    list-style-type: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 51px;
    text-align: center;
}

#dashboard-navbar a {
    padding-left: 15px;
    padding-right: 15px;

    text-decoration: none;
    color: #000000;
}

@media screen and (max-width: 980px) {
    #dashboard-navbar {
        height: auto;
    }

    #dashboard-navbar ul {
        display: block;
    }

    /* #dashboard-navbar a {
        display: block;
    } */
}

#title-bar {
    width: 100%;
    height: 120px;
    background-color: #222222;
}

#title-bar h1 {
    margin: 0px;

    position: absolute;
    left: 30px;
    top: 18px;

    color: #FFFFFF;
}

#title-bar h4 {
    margin: 0px;

    position: absolute;
    left: 30px;
    top: 74px; 

    color: #FFFFFF;
    font-weight: 300;
    font-size: 24px;
}

#login-register-buttons {
    position: absolute;
    width: 330px;
    height: 40px;
    right: 35px;
    top: 40px;
}

#login-register-buttons ul {
    display: flex;
    padding: 0;
    margin: 0;
}

#login-register-buttons li {
    width: 150px;
    height: 40px;

    list-style-type: none;
    color: #000000;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}

#login-register-buttons a {
    display: block;
    text-decoration: none;
}

#login-button {
    margin: 0px;

    background: #EEEEEE;
    border-radius: 20px;

    transition: background 0.2s ease-in-out;
}

#login-button:hover {
    background: hsl(0, 0%, 70%);
}

#register-button {
    margin: 0px;

    position: relative;
    left: 30px;

    background: #16ADD8;
    border-radius: 20px;

    transition: background 0.2s ease-in-out;
}

#register-button:hover {
    background: hsl(193, 82%, 35%);
}

#welcome-message {
    margin: 0px;

    position: absolute;
    right: 124px;
    top: 48px;

    color: #FFFFFF;
    font-weight: 400;
    font-size: 20px;
}

#profile-picture {
    margin: 0px;

    position: absolute;
    width: 70px;
    height: 70px;
    right: 30px;
    top: 25px;
}

@media screen and (max-width: 800px) {
    #title-bar {
        height: 94px;
    }
}

form {
    padding: 10px;
    /* margin-bottom: 50px !important; */
}

form input[type="text"], form input[type="password"], form input[type="number"], form input[type="date"]
{
    margin: 8px;
    padding-left: 10px;
    padding-right: 10px;
    width: 262px;
    height: 42px;

    background: #FFFFFF;
    border: 1px solid #777777;
    border-radius: 8px;

    font-weight: 400;
    font-size: 20px;
}

form > input[type="submit"], form button[type="submit"]{
    /* color: blue;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid black;
    outline: 0;
    padding: 10px;
    margin-top: 10px;
    border-radius: 6px;
    transition: all 0.15s; */

    margin: 8px;
    width: 284px;
    height: 46px;

    background: #000000;
    border: 3px solid #000000;
    border-radius: 8px;

    color: #FFFFFF;
    font-weight: 400;
    font-size: 20px;

    cursor: pointer;
}

form select {
    margin: 8px;
    padding-left: 10px;
    padding-right: 10px;
    width: 284px;
    height: 46px;

    background: #FFFFFF;
    border: 1px solid #777777;
    border-radius: 8px;

    font-weight: 400;
    font-size: 20px;
}

form button[type="submit"]:hover{
    background-color: #FFFFFF;
    color: #000000;
}

.centered{
    text-align: center;
    margin: auto;
}

/* plan data on view plans */

.container
{
    display: flex;
    margin: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-bottom: 50px;
}

.container-plans{
    display: flex;
    align-items: center;
    width: 780px;
    height: 400px;
    overflow: scroll;
    justify-content: center;
}

.container-plans::-webkit-scrollbar{
    display: none;
}

.plan-data
{
    display: flex;
    justify-content: center;
    /*margin: 10px;*/
    align-items: center;
    text-align: center;
    flex-direction: column;
    border-radius: 24px;
    color: white;
    min-width: 200px;
    width: 200px;
    height: 300px;
    /*padding: 20px;*/
    background-image: url(../images/data-diet4.jpg);
    background-size: 100% 100%;
    transition: all 0.2s;
}

.plan-data:nth-of-type(3n+1)
{
    background-image: url(../images/data-diet.jpg)
}

.plan-data:nth-of-type(3n+2)
{
    background-image: url(../images/data-diet3.jpg)
}

.plan-data-workout
{
    display: flex;
    justify-content: center;
    /*margin: 10px;*/
    align-items: center;
    text-align: center;
    flex-direction: column;
    border-radius: 24px;
    color: white;
    min-width: 200px;
    width: 200px;
    height: 300px;
    /*padding: 20px;*/
    background-image: url(../images/plan-muscle.jpg);
    background-size: 100% 100%;
    transition: all 0.2s;
}

.plan-data-workout:nth-of-type(3n+1)
{
    background-image: url(../images/plan-muscle10.jpg)
}

.plan-data-workout:nth-of-type(3n+2)
{
    background-image: url(../images/plan-muscle3.jpg)
}

.plan-data:hover , .plan-data-workout:hover{
    box-shadow: 4px 4px 4px 0 gray; 
}

.plan-desc{
    display: block;
    flex-grow: 6;
}

#left-plan, #right-plan{
    display: none;
    cursor: pointer;
    padding: 10px;
    text-decoration: none;
    background: none;
    outline: none;
    border: none;
    font-size: 100px;
}

.plan-button
{
    cursor: pointer;
    padding: 10px;
    background-color: blue;
    margin-bottom: 10px;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    text-decoration: none;
}

.plan-button:hover{
    color: black;
    background-color: white;
    font-weight: bold;
}

.diet-data
{
    display: flex;
    margin: auto;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
    text-align: center;
    color: white;
    width: 150px;
    height: 100px;
    padding: 5px;
    background-image: url(../images/data-diet.jpg);
    background-size: 100% 100%;
    transition: all 0.2s;
}

.container .diet-data:nth-child(3n+1)
{
    background-image: url(../images/data-diet2.jpg)
}

.container .diet-data:nth-child(3n+2)
{
    background-image: url(../images/data-diet3.jpg)
}

.diet-data:hover{
    box-shadow: 4px 4px 4px 0 gray; 
    transform: scale(1.05);
}

.workout-data
{
    display: flex;
    margin: auto;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
    text-align: center;
    color: white;
    width: 250px;
    height: 150px;
    padding: 5px;
    background-image: url(../images/plan-muscle3.jpg);
    background-size: 100% 100%;
    transition: all 0.2s;
}

.container .workout-data:nth-child(3n+1)
{
    background-image: url(../images/plan-muscle4.jpg)
}

.container .workout-data:nth-child(3n+2)
{
    background-image: url(../images/plan-muscle5.jpg)
}

.workout-data:hover{
    box-shadow: 4px 4px 4px 0 gray; 
    transform: scale(1.05);
}

.diet-desc{
    display: block;
    flex-grow: 6;
}

button.plan-submit-button[value="0"]{
    color: red;
}

button.plan-submit-button[value="1"]{
    color: green;
}

.container-index{
    display: flex;
    align-items: center;
    position: relative;
    margin: auto;
    padding: 20px;
    width: 80%;
    min-height: 500px;
}

.banner{
    display: block;
    margin: auto;
    width: 45%;
    height: 80%;
}

.banner .login-add{
    display: block;
    text-align: center;
    font-family: rubik;
    color: black;
    font-weight: bold;
}

.banner-login{
    display: block;
    margin: auto;
    width: 45%;
    height: 80%;
}

.plan-button-banner
{
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    color: white;
    border: 1px solid black;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
}

.plan-button-simple{
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    color: white;
    border: 1px solid black;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    background-color: blue;
}

.plan-button-banner:nth-of-type(1){
    background-image: url(../images/data-diet2.jpg);
}

.plan-button-banner:nth-of-type(2){
    background-image: url(../images/plan-muscle5.jpg);
}

.plan-button-banner:nth-of-type(3){
    background-color: blue;
}

.plan-button-banner:hover, .plan-button-simple:hover{
    color: black;
    background-image: none;
    background-color: white;
    font-weight: bold;
}

.banner img{
    float: right;
    width: 50%;
    height: 500px;
}
