:root {
    --swiper-theme-color: #16ADD8;
}

.swiper-outer-container {
    display: flex;
    margin: auto;
    margin-bottom: 45px;
    margin-top: 30px;
    /* margin-left: 30px;
    margin-right: 30px; */
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.swiper-container {
    width: 100%;
    height: auto;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    height: 420px !important;
    width: 270px !important;
    padding: 24px;
}

.swiper-pagination {
    position: absolute;
    bottom: -30px !important;
    left: 0;
    width: 100%;
    text-align: center;
}

.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    z-index: 10;
    cursor: pointer;
}

/* .swiper-button-prev {
    left: 30px;
}

.swiper-button-next {
    right: 30px;
} */